<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Preview</title>
</head>
<body>
    <h1> Account </h1>
    <div>
        <a href="/"> Back </a>
    </div>    
    <hr />

    <div>
        <span>Welcome Guest</span>
    </div>
</body>
</html>
