<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Preview</title>
</head>
<body>

    <div id="vue-container">
        @await Html.PartialAsync("nav")
    </div>    

    <h1> Account </h1>
    <div>
        <span>Welcome Guest</span>
    </div>

    <script src="~/js/account.bundle.js"></script>
</body>
</html>
