@model Web.Server.ViewModel.UserViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Preview</title>
</head>
<body>

    <div id="vue-container">        
        <x-account p-welcome-msg="Welcome User"
                   p-come-from-active-link="@Model.ComeFromActiveLink"
                   p-come-from-forgot-link="@Model.ComeFromForgotLink"
                   p-user-active-code="@Model.ActiveCode"
                   p-email="@Model.Email">
            @await Html.PartialAsync("nav")
        </x-account>
    </div>        

    <script src="~/js/account.bundle.js"></script>
</body>
</html>
