@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    From LibraryUI<br />
    Turvo/SC - Brazil<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ricardo9300@gmail.com">ricardo9300@gmail.com</a><br />
</address>
