<x-menu>
    <template slot="menu-items">
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/pageaccount"> Account </a> </li>
            <li> <a href="/pageproducts"> Products </a> </li>
        </ul>
    </template>
</x-menu>

<hr />