<div id="vue-menu">
    <x-menu></x-menu>
</div>

<ul>
    <li><a href="/pageaccount"> Account </a></li>
    <li><a href="/pageproducts"> Products </a></li>
</ul>

<script src="~/js/menu.bundle.js"></script>