<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Preview</title>
</head>
<body>
    <div id="vue-container">        
        <x-search p-url="/api/resources/products/"
                  p-title="Title"
                  p-subtitle="SubTitle"
                  p-imgbanner="/img/banner.jpeg"
                  p-imgbannermd="/img/banner-md.jpeg"
                  p-cardlabeltitle="Title"
                  p-cardlabelcategory="Category">

            @await Html.PartialAsync("nav")
        </x-search>
    </div>

    <script src="~/js/search.bundle.js"></script>

</body>
</html>